*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col4{
    flex-basis: 25%;
    padding: 15px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col4 img{
    height: 100px;
    padding: 20px;
}
.col4 h4{
    padding: 20px;
}
.temp{
    flex-direction: row;
}